@{
    ViewData["Title"] = "Home";
}

<img src="~/images/Avatar.jpg" height="200" class="m-auto m-sm-5 d-flex rounded-circle" />

<div class="mt-5">
    <h3>你好🦆, 这里是Jagdender.</h3>
    <p class="text-decoration-line-through text-muted">也有些人管我叫 🦊</p>
</div>

<div>

    <p>我是一名软件开发者, 主要使用技术为<b>.NET</b>。从事方向为 <b>Web</b>, <b>Desktop</b> 和 <b>软件架构</b>。应该还有一些其它的，但能让我印象深刻的大抵就这些。</p>
    <p>
        这个blog主要记录我在软件开发上的学习历程，以及我从事软件工程以来对一些技术的思考与理解。 <br />
        我也会在这里记录很多日常，偶尔也会有🎨, ✍️的创作性内容。我以前经常在社交媒体上放这些东西，现在也是。 <br />
    </p>

</div>

<div class="fixed-bottom text-center my-3">
    <a href="https://github.com/Jagdender/FoxBlog">GitHub</a>
</div>