@{
    ViewData["Title"] = "Home";
}

<img src="~/images/Avatar.jpg" height="200" class="m-auto m-sm-5 d-flex rounded-circle" />

<div class="mt-5">
    <h3>Hi👋, this is Jagdender.</h3> 
    <p class="text-decoration-line-through text-muted">They also call me 🦊</p>
</div>

<div>

    <p>I am a software developer using various technologies, mainly <b>.NET</b>. I'm currently engaging in the area of <b>Web</b> and <b>Desktop</b>.</p>
    <p>
        The blog records my learning journey and my thoughts on various technologies. <br />
        I'll also post some of my daily life on it, just like what I do on my SNS. <br />
    </p>

</div>

<div class="fixed-bottom text-center my-3">
    <a href="https://github.com/Jagdender/FoxBlog">GitHub</a>
</div>